#miparent {
    display: none;
    position: fixed;
    transition-duration: var(--fullscreen-transition-time);
    transition-timing-function: ease; 
    z-index: 10;
    aspect-ratio: 1/1;
    margin: 0;
}
#mielement {
    transition: inherit;
    display: block;
    border-radius: var(--corner-radius);
    object-fit: cover;
    width: 100%;
    height: 100%;

    box-shadow: 0 0 20px -5px transparent;
    border: 2px solid transparent;
    cursor: pointer;
}
#mititlect {
    transform: scale(1.04);
    position: fixed;
    display: grid;
}
#mititle {
    transition: inherit;
    display: block;
	text-align: center;
	font-size: 50px;
    color: white;
    align-self: end;
    text-shadow: 0px 0px 5px #fff;
}
#mibgblur {
    transition: inherit;
    position: fixed;
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}