:root {
    --split: 10%; /*horiz split*/
}

html, body {
    overflow: hidden;

    cursor: default;
    user-select: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ivory;
    text-shadow: 2px 2px 1px rgb(23, 23, 23);
    height: calc(100vh - 3%);
}

#fill {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;
}

#top {
    flex: 0 0 5%;

    background-color: #181819;

    display: flex;
    flex-direction: row;
    gap: 2px;

    align-items: center;
}

.navarrow {
    display: inline-block;
    text-align: center;
    width: 30px;

    text-shadow: none;
    /* font-size: 30px; */
    transition: 200ms ease-out;
    padding: 3px 0;
}

.navarrow:hover {
    color: rgb(51, 132, 245);
}

#up:hover {
    background-color: #434343;
    color: ivory;
}

#up:active {
    background-color: #212121;
    color: ivory;
}

#navbar {
    display: flex;
    flex-direction: row;

    gap: 5px;

    position: absolute;
    right: 15px;
    left: 100px;

    height:fit-content;
    padding: 3px 7px;

    border: 1px solid #535353;
}

#content {
    flex: 0 0 92%;

    display: flex;
    flex-direction: row;
    height: 92%;
}

#navigation {
    flex: 0 0 var(--split);
    background-color: #181819;
}

#bar {
    flex: 0 0 2px;
    background-color: #242524;

    cursor: ew-resize;
}

#statusbar {
    flex: 0 0 3%;

    background-color: #333333;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.statuscontent {
    font-size: smaller;
    
    display: inline-block;
    text-align: center;

    white-space: pre;
}

#items {
    flex: 0 0 calc(100% - var(--split) - 2px);
    background-color: #212020;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10px;

    height: 100%;
    box-sizing: border-box;
}

.item {
    padding: 10px;
    width: 100px;
    height: 150px;
    display: block;
}
.itemimage {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;

    box-shadow: 2px 2px 1px rgb(23, 23, 23);
}
.itemname {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    
    text-overflow: ellipsis;

}
.item:hover{
    background-color: #333232;
}

#preview {
    position: fixed;
    width: 700px;
    height: 500px;
    background-color: #212020;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 20px black;

    /* resize: both; */
    overflow: auto;
}

#pvbar {
    flex: 0 0 30px;
    background-color: #2a2b2b;

    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

#pvname {
    flex: 0 0 calc(100% - 50px - 15px);

    margin-left: 15px;
    align-content: center;
    text-shadow: none;
}

#pvxbutton {
    flex: 0 0 50px;

    background-color: #2a2b2b;
    align-content: center;

    transition: 50ms ease-out;
}
#pvxbutton span {
    display: block;

    text-shadow: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;

    text-align: center;
    transform: scaleX(1.4); 
    transition: 50ms ease-out;
}

#pvxbutton:hover{
    background-color: #e91022;
}

#pvxbutton span:hover{
    color: black;
}

#pvcontent {
    flex: 0 0 calc(100% - 30px);

    padding: 50px;
    box-sizing: border-box;
}

#pvcontent * {
    height: 100%;
    width: 100%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    /* cursor: pointer; */
}

/*idk*/
.vsc-controller {
    display: none;
}