@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap'); 
body{
    /*overflow:visible;*/
    font-family: "Roboto Mono";
    font-weight: 100;
    letter-spacing: .15vw;
    background: linear-gradient(0deg, #10131a 0%, #21293d 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color:ivory;
}
header{
    text-align: center;
    text-shadow: 0px 0px 20px white;
    font-size: 150%;
}
hr {
    margin-block-start: 4em;
    margin-block-end: 4em;
    border: none;
    height: 0;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, transparent, ivory, transparent);
    box-shadow: 0 0 60px;
}
h1 {
    text-align: center;
    text-shadow: 0px 0px 10px white;
}
::-webkit-scrollbar{
    display: none;
}
/*
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #161618;
}
::-webkit-scrollbar-thumb{
    background-color: #3c414e;
    border-radius: 10px;
}
